<!doctype html>
<html lang='en'>

<head>
    <title>FlashWord</title>
    <meta charset='utf-8'>
    <style>
        label {
            display: block;
        }

        input,
        button {
            display: block;
            margin: 10px 0px;
        }

        .correct {
            color: green;
        }

        .incorrect {
            color: red;
        }

        [v-cloak] {
            display: none;
        }
    </style>
    <script src='https://unpkg.com/vue@3.4.27/dist/vue.global.js' defer></script>
    <script src='app.js' defer></script>
</head>

<body>
    <h1>FlashWord</h1>

    <div id='app' v-cloak>
        What is the English translation of the word <strong>{{ wordA }}</strong>?
        <input type='text' id='answer' v-model='answer'>

        <p v-if="answer != ''">
            Your answer: {{ answer }}
        </p>
        <!-- <button v-on:click="correct = (answer == wordB); showFeedback = true">Check Answer</button> -->
        <button v-on:click="checkAnswer()">Check Answer</button>
        <div v-if='showFeedback'>
            <p v-if='correct' class="correct">
                You got it!</p>
            <p v-else class="incorrect">
                Sorry, that is incorrect - try again.
            </p>
            <button v-on:click="answer = ''; showFeedback = false">Reset Answer</button>
        </div>
        <h3>Array rendering</h3>
        <ul>
            <li v-for='(value, index) in spanishWords'>{{ index }}: {{ value }}</li>
        </ul>
        <h3>Object rendering</h3>
        <ul>
            <li v-for='(value, key, index) in word'>{{ index }}: {{ key }} = {{ value }}</li>
        </ul>
        <h3>Array of objects rendering</h3>
        <ul>
            <li v-for='pair in words'>The translation of {{ pair.wordA }} is {{ pair.wordB }}</li>
        </ul>
        <h3>Number and string rendering</h3>
        <ul>
            <div v-for='character in "hola"'>{{ character }}</div>
            <div v-for='n in 10'>{{ n }}</div>
        </ul>
        <h3>Combining v-if and v-for</h3>

        <p v-for='spanishWord in spanishWords'>
            <template v-if='spanishWord.length <= 3'>
                {{ spanishWord }}
            </template>
        </p>
    </div>
</body>

</html>