<!doctype html>
<html lang='en'>

<head>
    <title>FlashWord</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="style.css">
    <script src='https://unpkg.com/vue@3.4.27/dist/vue.global.js' defer></script>
    <script src='flash.js' defer></script>
</head>

<body>
    <div id="app">
        <h1>FlashWord v1</h1>

        <p v-if='completed' id='completed'>Good work, you completed all the words!</p>
        <p v-else id='correctCount'>You have answered {{ correctCount }} out of {{ wordCount }}</p>

        <div id='cards'>
            <div class='card' v-for='word in shuffledWords' v-bind:class='{ correct: word.correct}'>
                <p class='word'>{{ word.word_a }}</p>

                <input v-if='!word.correct' type='text' v-model='word.answer' v-on:keyup.enter='checkAnswer(word)'>
                <p v-else class='correctAnswer'>{{ word.answer }}</p>
            </div>
        </div>
    </div>

</body>

</html>